<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rocket Survey</title>
</head>
<body ng-app="rocketSurvey">
    <app></app>
    <script src="/app.js"></script>
</body>
</html>