#stages {
    width: 30%;
    float: left;
    padding-right: 100px;
    .stage-marker {
        width: 100%;
        font-size: 20px;
        &.active {
            font-weight: bold;
        }
    }
}

#questions {
    #description {
        text-align: center;
    }
    float: left;
}